{{#paper-list}}
  {{#each model as |spell|}}
    {{#paper-item class="md-3-line" param=spell action=(action "transition" "spells.edit")}}
      <h1 class="md-avatar">{{spell.level.value}}</h1>
      <div class="md-list-item-text">
        <h1>{{spell.title}}</h1>
      </div>

      {{#paper-button icon-button=true param=spell action="deleteSpell"}}
        {{paper-icon icon="remove-circle"}}
      {{/paper-button}}
    {{/paper-item}}
    {{paper-divider inset=true}}
  {{/each}}
{{/paper-list}}

{{#paper-button action="addSpell" raised="true" primary="true"}}New Spell{{/paper-button}}

{{outlet}}
